{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/team_sexo.css' %}" />
<title>ATUM ADMIN</title>
{% endblock head %}

{% block navbar %}

{% endblock navbar %}

{% block content %}
<div class="all-block" style="align-items: start; display: flex; flex-direction: column; align-items: center;">
    <div class="title" style="display: flex; flex-direction: column; color: white; height: auto; padding-top: 20px;">
        <h1>ECOLHA O SEXO</h1>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="gender-container">
            {% if sport == 2 %}
            
            <button type="submit" name="sexo" value="2" class="gender-btn mixed-btn">
                <i class="gender-icon fas fa-mars-and-venus"></i>
                <span class="btn-title">Misto</span>
            </button>

            <button type="submit" name="sexo" value="2" class="gender-btn mixed-btn">
                <i class="gender-icon fas fa-mars-and-venus"></i>
                <span class="btn-title">Misto</span>
            </button>

            {% else %}

            <button type="submit" name="sexo" value="0" class="gender-btn male-btn">
                <i class="gender-icon fas fa-mars"></i>
                <span class="btn-title">Masculino</span>
            </button>
            
            <button type="submit" name="sexo" value="1" class="gender-btn female-btn">
                <i class="gender-icon fas fa-venus"></i>
                <span class="btn-title">Feminino</span>
            </button>

            {% endif %}
        </div>
    </form>
    <div>
        <button class="side-bar-buttons-items2 custom-buttons-sport-nav" style="background-color: #AB0000;">
            <a href="{% url 'guiate_register_team' event_id %}">VOLTAR</a>
        </button>
    </div>
</div>

{% endblock content %}

