{% load static %}
{% load render_text %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATUM ADMIN</title>
    <link rel="shortcut icon" href="{% static 'images/morea-sports.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/termos.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar-layout.css' %}">
</head>

<body class="light-mode">
    <main>
        {% if messages %}
            {% for message in messages %}
                <script>
                    createToast("{{ message.tags }}", "{{ message }}");
                </script>
            {% endfor %}
        {% endif %}
        <div class="all">
            <div class="container">
                <h1 class="title">Termos de Uso</h1>

                <div class="content">
                    <p>
                        {% if user.event_user.terms_intro_text %}
                            {{ user.event_user.terms_intro_text|render_with_user:user }}
                        {% else %}
                            Leia atentamente os termos de uso antes de utilizar o sistema.
                        {% endif %}
                    </p>
                </div>

                <div class="terms-content">
                    <p>
                        {% if user.event_user.terms_declaration_text %}
                            {{ user.event_user.terms_declaration_text|render_with_user:user }}
                        {% else %}
                            Eu, <b>{{ user.first_name }}</b>, responsável por <b>{{ user.team.name }}</b>,
                            declaro que aceito participar de(o) <b>{{ user.event_user.description }}</b>
                            <b>- {{ user.event_user.name }}</b>, respeitando e seguindo o regulamento
                            geral e específico da competição.
                        {% endif %}
                    </p>
                </div>

                <div class="terms-buttons">
                    <a href="{{ user.event_user.regulation.url }}" class="button-accept" download>
                        <i class="fas fa-download"></i>
                        <span>Baixar Regulamento</span>
                    </a>
                </div>

                <!-- Formulário de aceitação -->
                <form method="post" class="form-checkbox">
                    {% csrf_token %}
                    <label class="label-checkbox">
                        <input class="checkbox" type="checkbox" name="accept" id="accept" required>
                        <p>Declaro que li e concordo com o Regulamento Geral de(o) {{ user.event_user.name }}</p>
                    </label>
                    <div style="display: flex; justify-content: center; gap: 2em; margin-top: 3em;">
                        <a href="{% url 'logout' %}" class="button-accept"
                            style="text-align: center; text-decoration: none; background-color: red;">Sair</a>
                        <button type="submit" class="button-accept">Aceitar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <ul class="notifications"></ul>
    <script src="{% static 'js/messages.js' %}"></script>
    <script>
        {% if messages %}
            {% for message in messages %}
                createToast("{{ message.tags }}", "{{ message|escapejs }}");
            {% endfor %}
        {% endif %}
    </script>
    <script src="{% static 'js/script.js' %}"></script>
 
</body>

</html>