{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>ATUM ADMIN</title>
{% endblock head %}

{% block navbar %}

{% endblock navbar %}

{% block content %}
<div class="all-block">
    <section class="block1">
        <div class="title">
            <h1>CADASTRO DE USUÁRIOS</h1>
        </div>
        <form id="function_validate_form" class="block-inputs" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="block-inputs-form">
                <label for="name">*Nome do usuário</label>
                <input type="text" autocomplete="on" autocorrect="on" name="name" id="name" placeholder="Nome do usuário" required> 
                {% if user.type == 0 or user.is_staff %} 
                <label for="event">*Evento</label>  
                <select name="event" id="event" required>
                    <option selected disabled>Selecione o evento</option required>
                    {% for i in events %}
                    <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                </select>
                {% endif %}
                <label for="type">*Tipo de usuário</label>
                <select name="type" id="type" required>
                    <option selected disabled>Selecione o tipo</option required>
                    {% for value, name in type_user %}
                    <option value="{{value}}">{{name}} - {{value}}</option>
                    {% endfor %}
                </select>
                <label for="team" {% if user.type == 0 or user.type == 1 or user.is_staff %} id="teamLabel" {% endif %} style="display: none;" >Time associado</label >
                <select name="team" {% if user.type == 0 or user.type == 1 or user.is_staff %} id="team" {% endif %} required style="display: none;">
                    <option selected disabled>Selecione o tipo</option required>
                    {% for i in team %}
                    <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                </select>
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" placeholder="exemplo@dominio.com" />
                <label for="telephone">Telefone</label>
                <input type="tel" id="telephone" name="telephone" maxlength="15" placeholder="(00) 00000-0000" />
                <label for="photo">*Foto de Perfil (JPG, JPEG ou PNG)</label>
                <input type="file" name="photo" id="photo" accept=".jpg, .jpeg, .png" required>  
                <label for="password">*Senha</label>
                <input type="password" id="password" autocomplete="on" autocorrect="on" name="password" placeholder="Senha" required>

                <button class="side-bar-buttons-items2 custom-buttons-sport-nav">
                    CONFIRMAR
                </button>
            </div>
        </form>
        <button class="side-bar-buttons-items2 custom-buttons-sport-nav" style="background-color: var(--global-seventh-color); margin-top: 40px;">
            <a href="{% url 'user_manage' %}">VOLTAR</a>
        </button>
    </section>
</div>
<script>
    document.getElementById("telephone").addEventListener("input", function (e) {
        let input = e.target;
        let digits = input.value.replace(/\D/g, "").substring(0, 11); // Apenas números, até 11 dígitos
        let formatted = "";

        if (digits.length > 0) {
            formatted += "(" + digits.substring(0, 2);
        }
        if (digits.length >= 3) {
            formatted += ") ";
            if (digits.length <= 6) {
                formatted += digits.substring(2);
            } else if (digits.length <= 10) {
                formatted += digits.substring(2, 6) + "-" + digits.substring(6);
            } else {
                formatted += digits.substring(2, 7) + "-" + digits.substring(7);
            }
        }
        input.value = formatted;
    });
    const typeSelect = document.getElementById("type");
    const team = document.getElementById("team");
    const teamLabel = document.getElementById("teamLabel");

    if (typeSelect) {
        typeSelect.addEventListener("input", function (e) {
            const value = e.target.value;
            if (value == "2") {
                console.log("libera ela")
                team.style.display = 'flex';
                teamLabel.style.display = 'flex';
            } else {
                team.style.display = 'none';
                teamLabel.style.display = 'none';
            }
        });
    }
</script>


{% endblock content %}