{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/morea-sports.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/public/scoreboard_projector.css' %}">
    <title>ATUM PLACAR</title>
</head>
<body>
    <style>
        .hidden{
            display: none;
        }
    </style>
    <div>
        <img class="banner-scoreboard" src="{{banner_score}}" alt="Banner" style="width: 100vw; height: 100vh; display: none;">
    </div>
    <section class="section-project scoreboard score-ban" id="scoreboard" style="display: flex;">
        <div class="teams">
            <div class="team-color team-a" style=" background-color: #02007a">
                <div class="title-team" >
                    <img
                        class="team-photo" 
                        {% if team_match_a.team.photo %} src="{{team_match_a.team.photo.url}}" {% else %} src="{% static 'images/logoifs.png' %}" {% endif %} 
                        style="border-radius: 50%;" 
                        alt="Team A"
                        id="team-photo-a"
                    />
                    <h2 class="team-name" id="team-name-a">{{team_match_a.team.name|default:'TEAM A'}}</h2>
                </div>
                <div class="score-team">
                    <div class="scout">
                        <ul>
                            <li class="cards"><img src="{% static 'images/cards.svg'%}" alt="" aria-hidden="true"><p id="card-a" class="card-count">{{card_a|default:'0'}}</p></li>
                            <li class="whistle"><img src="{% static 'images/whistle.svg'%}" alt="" aria-hidden="true"><p id="lack-a" class="whistle-count">{{lack_a|default:'0'}}</p></li>
                            <li  {% if match.sport != 1 and match.sport != 2 %} style="display: none;" {% endif %} class="aces"><img class="aces-img" src="{% static 'images/ball-ace.svg'%}" alt="" aria-hidden="true"><p id="aces-a" class="ace-count">{{aces_a}}</p></li>
                        </ul>
                    </div>
                    <p class="score points" id="point-a">{{point_a|default:'0'}}</p>
                </div>
            </div>
            <div class="team-color team-b" style=" background-color: #d10000">
                <div class="title-team">
                    <h2 class="team-name" id="team-name-b">{{team_match_b.team.name|default:'TEAM B'}}</h2>
                    <img
                        class="team-photo" 
                        {% if team_match_b.team.photo %} src="{{team_match_b.team.photo.url}}"{% else %} src="{% static 'images/morea-sports-white.svg' %}" {% endif %}
                        style="border-radius: 50%;" 
                        alt="Team B"
                        id="team-photo-b"
                    />
                </div>
                <div class="score-team">
                    <p class="score points" id="point-b">{{point_b|default:'0'}}</p>
                    <div class="scout">
                        <ul>
                            <li class="cards"><img src="{% static 'images/cards.svg'%}" alt="" aria-hidden="true"><p id="card-b" class="card-count">{{card_b|default:'0'}}</p></li>
                            <li class="whistle"><img src="{% static 'images/whistle.svg'%}" alt="" aria-hidden="true"><p id="lack-b" class="whistle-count">{{lack_b|default:'0'}}</p></li>
                            <li class="aces" {% if match.sport != 1 and match.sport != 2 %} style="display: none;" {% endif %}><img class="aces-img" src="{% static 'images/ball-ace.svg'%}" alt="" aria-hidden="true"><p id="aces-b" class="ace-count">{{aces_b}}</p></li>
                        </ul>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="bordao_redes">
            <p>Tinha que ser de redes</p>
        </div>
        <div class="sets-or-time">
            <div class="title-set">
                <p style="color: black;" id="name-scoreboard">{% if match.volley_match %} Sets {% else %} Placar {% endif %}</p>
            </div>
            <p class="time">
                <span class="sets" id="sets-a" {% if match.volley_match %} style="display: flex;" {% else %} style="display: none;" {% endif %}>{% if match.volley_match %} {{match.volley_match.sets_team_a}} {% endif %}</span> <span class="sets" id="sets-b" {% if match.volley_match %} style="display: flex;" {% else %} style="display: none;" {% endif %}">{% if match.volley_match %} {{match.volley_match.sets_team_b}} {% endif %}</span> <span class="timer" id="timer" {% if not match.volley_match %} style="display: flex;" {% else %} style="display: none;" {% endif %}>{% if not match.volley_match %} 00:00 {% endif %}</span>
            </p>
        </div>
        <div class="ball-sport">
            <img class="ball-sport-img" id="ball-sport" src="{{ball_sport}}" alt="" />
        </div>
    </section>
    <footer class="footer-project score-ban" style="display: flex;">
        <div class="footer-content">
            <img class="logo-ifs" src="{% static 'images/logo-ifs.svg'%}" alt="Logo IFS - LAG">
            <img class="qr-code" src="data:image/png;base64,{{ qrcode }}"alt="" aria-hidden="true">
            <ul>
                <p>Veja também pelo site<br>
                <strong>{{url}}</strong></p>
                <li><img src="{% static 'images/logo-morea-colorful.svg'%}" alt="Logo MOREA"></li>
            </ul>
        </div>
    </footer>
    <script src="{% static 'js/scoreboard.js' %}"></script>
    <script>
        {% if seconds %}
        stopwatch({{seconds}}, {{status}})
        {% endif %}
    </script>
</body>
</html>