{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/morea-sports.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/public/scoreboard_projector.css' %}">
    <link rel="stylesheet" href="{% static 'css/public/goal.css' %}">
    <title>ATUM PLACAR</title>
</head>
<body data-event-id="{{event.id}}">
    <div>
        <img class="banner-scoreboard" src="{{banner_score}}" alt="Banner" style="width: 100vw; height: 100vh; display: none;">
    </div>

    <div class="container-quadra" id="container-volleyball" style="display: none;">
        <div class="team-names-volleyball">
            <div class="team-name-volleyball" id="volleyball-team-a">{{team_match_a.team.name|default:'TEAM A'}}</div>
            <div class="team-name-volleyball">X</div>
            <div class="team-name-volleyball" id="volleyball-team-b">{{team_match_b.team.name|default:'TEAM B'}}</div>
        </div>
        <div class="quadra-volei">
            <div class="linha-central"></div>
            <div class="lado-quadra casa">
                <div class="zona defesa">
                    <div class="jogador-container" id="casa-defesa-1">
                        <div class="jogador-foto casa border-a">
                            <img src="" alt="">
                        </div>
                        <div class="jogador-nome"></div>
                    </div>
                    <div class="jogador-container" id="casa-defesa-2">
                        <div class="jogador-foto casa border-a">
                            <img src="" alt="">
                        </div>
                        <div class="jogador-nome"></div>
                    </div>
                    <div class="jogador-container" id="casa-defesa-3">
                        <div class="jogador-foto casa border-a">
                            <img src="" alt="">
                        </div>
                        <div class="jogador-nome"></div>
                    </div>
                </div>
                <div class="zona ataque">
                    <div class="jogador-container" id="casa-ataque-1">
                        <div class="jogador-foto casa border-a">
                            <img src="" alt="">
                        </div>
                        <div class="jogador-nome"></div>
                    </div>
                    <div class="jogador-container" id="casa-ataque-2">
                        <div class="jogador-foto casa border-a">
                            <img src="" alt="">
                        </div>
                        <div class="jogador-nome"></div>
                    </div>
                    <div class="jogador-container" id="casa-ataque-3">
                        <div class="jogador-foto casa border-a">
                            <img src="" alt="">
                        </div>
                        <div class="jogador-nome"></div>
                    </div>
                </div>
            </div>
            <div class="lado-quadra fora">
                <div class="zona ataque">
                    <div class="jogador-container" id="fora-ataque-1">
                        <div class="jogador-foto fora border-b">
                            <img src="" alt="">
                        </div>
                        <div class="jogador-nome"></div>
                    </div>
                    <div class="jogador-container" id="fora-ataque-2">
                        <div class="jogador-foto fora border-b">
                            <img src="" alt="">
                        </div>
                        <div class="jogador-nome"></div>
                    </div>
                    <div class="jogador-container" id="fora-ataque-3">
                        <div class="jogador-foto fora border-b">
                            <img src="" alt="">
                        </div>
                        <div class="jogador-nome"></div>
                    </div>
                </div>
                <div class="zona defesa">
                    <div class="jogador-container" id="fora-defesa-1">
                        <div class="jogador-foto fora border-b">
                            <img src="" alt="">
                        </div>
                        <div class="jogador-nome"></div>
                    </div>
                    <div class="jogador-container" id="fora-defesa-2">
                        <div class="jogador-foto fora border-b">
                            <img src="" alt="">
                        </div>
                        <div class="jogador-nome"></div>
                    </div>
                    <div class="jogador-container" id="fora-defesa-3">
                        <div class="jogador-foto fora border-b">
                            <img src="" alt="">
                        </div>
                        <div class="jogador-nome"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="quadra-futsal" id="container-futsal" style="display: none;">
        <div class="team-names-futsal">
            <div class="team-name-futsal" id="futsal-team-a">{{team_match_a.team.name|default:'TEAM A'}}</div>
            <div class="team-name-futsal" id="futsal-team-b">{{team_match_b.team.name|default:'TEAM B'}}</div>
        </div>
        <div class="field-lines"></div>
        <div class="half-line"></div>
        <div class="center-circle"></div>
        <div class="center-dot"></div>
        <div class="goal-area-left"></div>
        <div class="goal-area-right"></div>
        <div class="goal-left"></div>
        <div class="goal-right"></div>
        <div class="penalty-dot-left"></div>
        <div class="penalty-dot-right"></div>

        <div class="jogador time-a" id="goleiro-a">
            <div class="player-photo">
                <img src="" alt="">
            </div>
            <div class="nome"></div>
        </div>

        <div class="jogador time-a" id="fixo-a">
            <div class="player-photo">
                <img src="" alt="">
            </div>
            <div class="nome"></div>
        </div>

        <div class="jogador time-a" id="ala1-a">
            <div class="player-photo">
                <img src="" alt="">
            </div>
            <div class="nome"></div>
        </div>

        <div class="jogador time-a" id="ala2-a">
            <div class="player-photo">
                <img src="" alt="">
            </div>
            <div class="nome"></div>
        </div>

        <div class="jogador time-a" id="pivo-a">
            <div class="player-photo">
                <img src="" alt="">
            </div>
            <div class="nome"></div>
        </div>
        <div class="jogador time-b" id="goleiro-b">
            <div class="player-photo">
                <img src="" alt="">
            </div>
            <div class="nome"></div>
        </div>

        <div class="jogador time-b" id="fixo-b">
            <div class="player-photo">
                <img src="" alt="">
            </div>
            <div class="nome"></div>
        </div>

        <div class="jogador time-b" id="ala1-b">
            <div class="player-photo">
                <img src="" alt="">
            </div>
            <div class="nome"></div>
        </div>

        <div class="jogador time-b" id="ala2-b">
            <div class="player-photo">
                <img src="" alt="">
            </div>
            <div class="nome"></div>
        </div>

        <div class="jogador time-b" id="pivo-b">
            <div class="player-photo">
                <img src="" alt="">
            </div>
            <div class="nome"></div>
        </div>
    </div>

    <div class="in-moments" id="moments">
        <div class="moments-left">
            <div style="width: 100%; height: auto; display: flex; align-items: center;">
                <img class="img-morea" src="{% static 'images/morea-sports-white.svg'%}" alt="Logo MOREA">
                <img class="img-atum" src="{% static 'images/logo_atum_white.png'%}" alt="Logo ATUM">
            </div>
            <p>EM INSTANTES</p>
        </div>
        <div class="moments-right">
            <div style="width: auto; display: flex; flex-direction: column; align-items: center;">
                <img id="moments-team-photo-a" src="{{ team_match_a.team.photo.url }}" alt="Logo MOREA">
                <p id="moments-team-name-a">{{ team_match_a.team.name }}</p>
            </div>
            <p>X</p>
            <div style="width: auto; display: flex; flex-direction: column; align-items: center;">
                <img id="moments-team-photo-b" src="{{ team_match_b.team.photo.url }}" alt="Logo MOREA">
                <p id="moments-team-name-b">{{ team_match_b.team.name }}</p>
            </div>
        </div>
    </div>

    <div class="in-moments" id="end">
        <div class="moments-left">
            <div style="width: 100%; height: auto; display: flex; align-items: center;">
                <img class="img-morea" src="{% static 'images/morea-sports-white.svg'%}" alt="Logo MOREA">
                <img class="img-atum" src="{% static 'images/logo_atum_white.png'%}" alt="Logo ATUM">
            </div>
            <p>VENCEDOR</p>
        </div>
        <div class="moments-right">
            <div style="width: auto; display: flex; flex-direction: column; align-items: center;">
                <img id="end-team-photo-b" src="{{ match.Winner_team.photo.url }}" alt="Logo MOREA">
                <p id="end-team-name-b">{{ match.Winner_team.name }}</p>
            </div>
        </div>
    </div>

    <section class="section-project scoreboard score-ban" id="scoreboard" style="display: flex;">
        <div class="card-container" id="card-goal">
            <div class="corner-decoration corner-top-left"></div>
            <div class="corner-decoration corner-top-right"></div>
            <div class="corner-decoration corner-bottom-left"></div>
            <div class="corner-decoration corner-bottom-right"></div>

            <div class="corner-inner corner-inner-top-left"></div>
            <div class="corner-inner corner-inner-top-right"></div>
            <div class="corner-inner corner-inner-bottom-left"></div>
            <div class="corner-inner corner-inner-bottom-right"></div>

            <header class="card-header">
                <span class="line"></span>
                <h1>
                    <div class="gol-text">
                        <span>G</span><span>O</span><span>O</span><span>O</span><span>O</span><span>O</span><span>O</span><span>L</span><span>!</span>
                    </div>
                </h1>
                <span class="line"></span>
            </header>

            <main class="card-main">
                <div class="player-image" id="card-player-img">
                    <div class="image-decoration decoration-1"></div>
                    <div class="image-decoration decoration-2"></div>
                </div>
                
                <img id="card-team-img" alt="Logo do Clube" class="club-logo">
            </main>

            <div class="card-footer">
                <h2 id="card-player-name"></h2>
                <div class="line-container">
                    <span class="line"></span>
                    <p id="card-team-name"></p>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class="info-overlay" id="info-overlay">
            <div class="info-image">
                <img id="alert-penalties-img"  src="{% static 'images/logo-morea-sports.svg' %}" alt="">
                <p id="alert-penalties"></p>
            </div>
        </div>

        <div class="teams">
            <div class="team-color team-a color-a" id="team-a-container" style="background-color: {{colorA}};">
                <div class="title-team" >
                    <img
                        class="team-photo" 
                        {% if team_match_a.team.photo %} src="{{team_match_a.team.photo.url}}" {% else %} src="{% static 'images/logoifs.png' %}" {% endif %} 
                        style="border-radius: 50%;" 
                        alt="Team A"
                        id="team-photo-a"
                    />
                    <h2 class="team-name" id="team-name-a">{{team_match_a.team.name|default:'TEAM A'}}</h2>
                </div>
                <div class="score-team">
                    <div class="scout">
                        <ul>
                            <li class="cards"><img src="{% static 'images/cards.svg'%}" alt="" aria-hidden="true"><p id="card-a" class="card-count">{{card_a|default:'0'}}</p></li>
                            <li class="whistle"><img src="{% static 'images/whistle.svg'%}" alt="" aria-hidden="true"><p id="lack-a" class="whistle-count">{{lack_a|default:'0'}}</p></li>
                            <li  {% if match.sport != 1 and match.sport != 2 %} style="display: none;" {% endif %} class="aces"><img class="aces-img" src="{% static 'images/ball-ace.svg'%}" alt="" aria-hidden="true"><p id="aces-a" class="ace-count">{{aces_a}}</p></li>
                        </ul>
                    </div>
                    <p class="score points" id="point-a">{{point_a|default:'0'}}</p>
                </div>
            </div>
            <div class="team-color team-b color-b" id="team-b-container" style="background-color: {{colorB}};">
                <div class="title-team">
                    <h2 class="team-name" id="team-name-b">{{team_match_b.team.name|default:'TEAM B'}}</h2>
                    <img
                        class="team-photo" 
                        {% if team_match_b.team.photo %} src="{{team_match_b.team.photo.url}}"{% else %} src="{% static 'images/morea-sports-white.svg' %}" {% endif %}
                        style="border-radius: 50%;" 
                        alt="Team B"
                        id="team-photo-b"
                    />
                </div>
                <div class="score-team">
                    <p class="score points" id="point-b">{{point_b|default:'0'}}</p>
                    <div class="scout">
                        <ul>
                            <li class="cards"><img src="{% static 'images/cards.svg'%}" alt="" aria-hidden="true"><p id="card-b" class="card-count">{{card_b|default:'0'}}</p></li>
                            <li class="whistle"><img src="{% static 'images/whistle.svg'%}" alt="" aria-hidden="true"><p id="lack-b" class="whistle-count">{{lack_b|default:'0'}}</p></li>
                            <li class="aces" {% if match.sport != 1 and match.sport != 2 %} style="display: none;" {% endif %}><img class="aces-img" src="{% static 'images/ball-ace.svg'%}" alt="" aria-hidden="true"><p id="aces-b" class="ace-count">{{aces_b}}</p></li>
                        </ul>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="bordao_redes">
            <p>Tinha que ser de redes :)</p>
        </div>
        <div class="sets-or-time">
            <div class="title-set">
                <p style="color: black;" id="name-scoreboard">{% if match.volley_match %} Sets {% else %} Placar {% endif %}</p>
            </div>
            <p class="time">
                <span class="sets" id="sets-a" {% if match.volley_match %} style="display: flex;" {% else %} style="display: none;" {% endif %}>{% if match.volley_match %} {{match.volley_match.sets_team_a}} {% endif %}</span> <span class="sets" id="sets-b" {% if match.volley_match %} style="display: flex;" {% else %} style="display: none;" {% endif %}">{% if match.volley_match %} {{match.volley_match.sets_team_b}} {% endif %}</span> <span class="timer" id="timer" {% if not match.volley_match %} style="display: flex;" {% else %} style="display: none;" {% endif %}>{% if not match.volley_match %} 00:00 {% endif %}</span>
            </p>
        </div>
        <div class="ball-sport">
            <img class="ball-sport-img" id="ball-sport" src="{{ball_sport}}" alt="" />
        </div>
    </section>
    <footer class="footer-project score-ban" style="display: flex;">
        <div class="footer-content">
            <img class="logo-ifs" src="{% static 'images/logo-ifs.svg'%}" alt="Logo IFS - LAG">
            <img class="qr-code" src="data:image/png;base64,{{ qrcode }}"alt="" aria-hidden="true">
            <ul>
                <p>Veja também pelo site<br>
                <strong>{{url}}</strong></p>
                <li><img src="{% static 'images/morea-sports.png'%}" alt="Logo MOREA"></li>
            </ul>
        </div>
    </footer>
    <script src="{% static 'js/scoreboard.js' %}"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            applyTeamColors('{{colorA}}','{{colorB}}');
        });

        {% if seconds %}
        stopwatch({{seconds}}, {{status}})
        {% endif %}
    </script>
</body>
</html>