{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>ATUM ADMIN</title>
{% endblock head %}

{% block navbar %}

{% endblock navbar %}

{% block content %}
<div class="all-block">
    <section class="block1">
        <div class="title">
            <h1>CADASTRO DE PARTIDAS</h1>
        </div>
        <div>
            <form id="function_validate_form" class="block-inputs" method="post">{% csrf_token %}
                <div class="block-inputs-form">
                    <label for="sport">Esporte</label>
                    <select id="sport" name="sport">
                        <option selected disabled value="None">Selecione o esporte</option>
                        {% for value, name in sport %}
                        <option value="{{value }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                    <label for="sexo">Sexo</label>
                    <select id="sexo" name="sexo">
                        <option selected disabled value="None">Selecione o sexo</option>
                        <option value="0">Masculino</option>
                        <option value="1">Feminino</option>
                    </select>
                    <label for="times-a">Time A</label>
                    <select id="time-a" name="time_a" required>
                        <option selected disabled value="None">Selecione o time</option>
                        {% for i in team %}
                        <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                    <label for="times-b">Time B</label>
                    <select id="times-b" name="time_b" required>
                        <option selected disabled value="None">Selecione o time</option>
                        {% for i in team %}
                        <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                    {% if not user.event_user %}
                    <label for="nome">Evento</label>
                    <select id="user_admin" name="event">
                        <option selected disabled>Selecione o evento</option>
                        {% for i in events %}
                        <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    <label for="date-game">Horário</label>
                    <input class="input-data" type="datetime-local" name="datetime" id="date-game" />
                    <p style="color: #6d6c6c; font-size: 15px;">*Informe a data e horário da partida ou coloque o horário por ordem de partida.</p>
                    <button class="side-bar-buttons-items2 custom-buttons-sport-nav">
                        CONFIRMAR
                    </button>    
                </div>
            </form>
        </div>
        <button class="side-bar-buttons-items2 custom-buttons-sport-nav" style="background-color: var(--global-seventh-color); margin-top: 40px;">
            <a href="{% url 'games' %}">VER MINHAS PARTIDAS</a>
        </button>
    </section>
</div>
{% endblock content %}