{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>ATUM ADMIN</title>
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock head %}

{% block navbar %}
<style>

</style>
{% endblock navbar %}

{% block content %}

<div class="all-block">
    <div class="block1">
        <div class="title-adm">
            <h1>
                GERENCIAMENTO DE PARTIDAS
            </h1>
            {% if perms.app.add_match %}
            <div class="title-buttons">
                <span onclick="openModal()"><p>Novo</p></span>
                {% if user.type == 0 %}
                <form method="get">
                    <select name="e" onchange="this.form.submit();">
                        <option value="">Evento</option>
                        {% for i in events %}
                            <option value="{{ i.id }}" {% if select_event|stringformat:"s" == i.id|stringformat:"s" %}selected{% endif %}>{{ i.name }}</option>
                        {% endfor %}
                    </select>
                </form>
                {% else %}
                <h3>
                    {{user.event_user.name}}
                </h3>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="games">
            {% for i in context %}
            <section class="game-section">
                <div class="game-block1">
                    <div class="game-title">
                        <h1 {% if i.match.sexo == 1 %}  style="color: #ee005b;" {% endif %}>{{ i.times.0.team.name }} <span style="color: black;">X</span> {{ i.times.1.team.name }}</h1>
                    </div>
                    <div {% if i.match.sexo == 1 %} style="background-color: #ee005b;" {% endif %} class="game-score">{{ i.points_a }} x {{ i.points_b }}</div>
                </div>
                <div class="game-block2">
                    <p>PARTIDA #{{i.match.id}}<br>{{i.match.get_sexo_display}}<br>{{ i.match.get_sport_display }}</p>
                    <h2>{{i.match.get_status_display}}</h2>
                    <h3>{% if i.match.Winner_team %} Vencedor:  {{ i.match.Winner_team }} {% else %} {{i.match.time_match|date:"d/m/Y - H:i" }} {% endif %}</h3>
                </div>
                <div class="games-config">  
                    <a class="games-config-link" {% if i.match.status == 1 and user.type != 2 %} href="{% url 'scoreboard' %}" {% endif %}>
                        <div {% if i.match.status == 1 %} class="games-config-item games-config-item-active" {% else %} class="games-config-item games-config-item-desactive"{% endif %}>
                            <img class="games-config-item-img" src="{% static 'images/icon-timer.png' %}"
                                alt="Timer Icon" />
                        </div>
                    </a>
                    <a class="games-config-link">
                        <form method="post" class="games-config-item">{% csrf_token %}
                            <button name="change_match" value="{{i.match.id}}" type="submit" style="margin: 0; background-color: transparent;"><img class="games-config-item-img" src="{% static 'images/icon-config.png' %}"
                                alt="Gear Icon" /></button>
                        </form>
                    </a>
                    <a class="games-config-link" href="">
                        <div class="games-config-item games-config-item-player">
                            <img class="games-config-item-img" src="{% static 'images/icon-player.png' %}"
                                alt="Player Icon" />
                        </div>
                    </a>
                </div>
            </section>
            {% empty %}
            <section class="alert-page">
                <div class="alert-img">
                <i class="fa-solid fa-circle-exclamation"></i> 
                </div>
                <div class="alert-text">
                    <p>NÃO HÁ NENHUMA PARTIDA PROGRAMADA.</p>
                </div>
            </section>
            {% endfor %}

        </div>
    </div>
</div>
{% if perms.app.add_match %}

<div id="eventModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Cadastrar partida</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="sport">Esporte</label>
            <select id="sport" name="sport">
                <option selected disabled value="None">Selecione o esporte</option>
                {% for value, name in sport %}
                <option value="{{value }}">{{ name }}</option>
                {% endfor %}
            </select>
            <label for="sexo">Sexo</label>
            <select id="sexo" name="sexo">
                <option selected disabled value="None">Selecione o sexo</option>
                <option value="0">Masculino</option>
                <option value="1">Feminino</option>
            </select>
            <label for="times-a">Time A</label>
            <select id="time-a" name="time_a" required>
                <option selected disabled value="None">Selecione o time</option>
                {% for i in team %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
            </select>
            <label for="times-b">Time B</label>
            <select id="times-b" name="time_b" required>
                <option selected disabled value="None">Selecione o time</option>
                {% for i in team %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
            </select>
            {% if not user.event_user %}
            <label for="nome">Evento</label>
            <select id="user_admin" name="event">
                <option selected disabled>Selecione o evento</option>
                {% for i in events %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
            </select>
            {% endif %}
            <label for="date-game">Horário</label>
            <input class="input-data" type="datetime-local" name="datetime" id="date-game" />
            <p style="color: #6d6c6c; font-size: 15px;">*Informe a data e horário da partida ou coloque o horário por ordem de partida.</p>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</div>

<script>
    function openModal() {
        document.getElementById("eventModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("eventModal").style.display = "none";
    }
</script>
{% endif %}
{% endblock content %}