{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>ATUM ADMIN</title>
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock head %}

{% block navbar %}

{% endblock navbar %}

{% block content %}
<div class="all-block">
    <div class="block1" style="justify-content: start;">
        <div class="title-adm">
            <h1>
                SESSÕES
            </h1>
            <div class="title-buttons">
                <h3>
                    {% if user.event_user %}
                    {{user.event_user.name}}
                    {% else %}
                    SEGURANÇA
                    {% endif %}
                </h3>
                <form method="get">
                    <select name="e" onchange="this.form.submit();">
                        <option value="">Usuários</option>
                        {% for i in users %}
                            <option value="{{ i.id }}" {% if user_session.id|stringformat:"s" == i.id|stringformat:"s" %}selected{% endif %}>{{ i.username }}</option>
                            {{user_session.id}}
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
        <section class="all-table" style="width: 100%; max-width: none; margin-top: 25px;">
            <table id="search-table" style="width: 100%;">
                <tr class="hidden">
                    <th>IP</th>
                    <th>Navegador</th>
                    <th>SO</th>
                    <th>Login</th>
                    <th>Última atividade</th>
                    <th>Ação</th>
                </tr>
                {% for s in sessions %}
                <tr>
                    <td>{{ s.ip_address }}</td>
                    <td>{{ s.browser}}</td>
                    <td>{{ s.os}}</td>
                    <td>{{ s.created_at }}</td>
                    <td>{{ s.last_activity }}</td>
                    <td>
                        {% if request.session.session_key == s.session.session_key %}
                            <span class="self">(esta sessão)</span>
                        {% else %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="session_key" value="{{ s.session.session_key }}">
                                <button style="margin: 0;" type="submit">Encerrar</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <style>
                    .hidden {
                        display: none;
                    }
                </style>
                <section class="alert-page">
                    <div class="alert-img"> <i class="fa-solid fa-circle-exclamation"></i> </div>
                    <div class="alert-text">
                        <p>NÃO HÁ REGISTROS DE LOGIN.</p>
                    </div>
                </section>
                {% endfor %}
            </table>
        </section>
    </div>
</div>

{% endblock content %}