{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/match_settings.css' %}">
<title>ATUM ADMIN</title>
{% endblock head %}

{% block navbar %}

{% endblock navbar %}

{% block content %}
<div class="all-block">
    <div class="block1" style="justify-content: start;">
        <div class="title-adm">
            <h1>
                PARTIDA #{{match.id}}
            </h1>
            {% if perms.app.add_attachments %}
            <div class="title-buttons">
                {% if match.sport == 1 or match.sport == 2 %} 
                <h3>{{match.volley_match.id}}</h3>
                <form method="get">
                    <select name="e" onchange="this.form.submit();">
                        <option value="">SETS</option>
                        <option selected>1º Set - ID 01</option>
                        <option >2º Set - ID 02</option>
                        {% for i in sets %}
                            <option value="{{ i.id }}" {% if select_event|stringformat:"s" == i.id|stringformat:"s" %}selected{% endif %}>{{ i.name }}</option>
                        {% endfor %}
                    </select>
                </form>
                {% else %}
                <h3>{{match.get_detailed_display|upper}}</h3>
                <h3>
                    {{match.get_status_display|upper}}
                </h3>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="accordion">
            <div class="accordion-header accordion-header-show" onclick="minhaFuncao('accordion-header-1','accordion-content-1')" id="accordion-header-1">
                <p>Dados gerais</p><i class="fa-solid fa-angle-down"></i>
            </div>
            <div class="accordion-content accordion-show" id="accordion-content-1">
                <div class="data-info">
                    <h3>{{team_match_a.team.name}} x {{team_match_b.team.name}}</h3>
                    <br>
                    <p>PARTIDA DE {{match.get_sport_display|upper}} {{match.get_sexo_display|upper}}</p>
                    <p>{{match.group_phase.phase.get_name_display|upper}} | {{match.group_phase.name|upper}}</p>
                    <br>
                    <form action="" method="post">{% csrf_token %}
                    <button name="sumula" class="button-match-settings" style="background-color: rgb(19, 0, 129); color: white;">SÚMULA</button>
                    </form>
                </div>
            </div>
        </div>
        <ul class="nav-list">
            {% with active_tab=request.GET.tab|default:"gerais" %}
            <li class="{% if active_tab == 'tempo' %}nav-item-show{% endif %}">
                <a href="?tab=tempo">Tempo</a>
            </li>
            <li class="{% if active_tab == 'penalidades' %}nav-item-show{% endif %}">
                <a href="?tab=penalidades">Penalidades</a>
            </li>
            <li class="{% if active_tab == 'pontuacao' %}nav-item-show{% endif %}">
                <a href="?tab=pontuacao">Pontuação</a>
            </li>
            <li class="{% if active_tab == 'assistencia' %}nav-item-show{% endif %}">
                <a href="?tab=assistencia">Assistência</a>
            </li>
            <li class="{% if active_tab == 'atletas' %}nav-item-show{% endif %}">
                <a href="?tab=atletas">Atletas</a>
            </li>
            <li class="{% if active_tab == 'arbitros' %}nav-item-show{% endif %}">
                <a href="?tab=arbitros">Árbitros</a>
            </li>
            <li class="{% if active_tab == 'gerais' %}nav-item-show{% endif %}">
                <a href="?tab=gerais">Gerais</a>
            </li>
            {% endwith %}
        </ul>
        <div class="tab-content">
            {% with active_tab=request.GET.tab|default:"gerais" %}
            
            {% if active_tab == 'tempo' %}
            <div class="content-tempo item-content">
                {% if perms.app.view_time_pause %}
                <div class="accordion">
                    <div class="accordion-header " onclick="minhaFuncao('accordion-header-3','accordion-content-3')" id="accordion-header-3">
                        <p>Pausas</p><i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="accordion-content" id="accordion-content-3">
                        <section class="all-table" style="width: 100%; max-width: none; margin-top: 15px;">
                            <table id="search-table" style="width: 100%;">
                                <tr class="hidden">
                                    <th>ID</th>
                                    <th>INICIO</th>
                                    <th>FIM</th>
                                    {% if perms.app.delete_time_pause %}
                                    <th>DELETAR</th>
                                    {% endif %}
                                </tr>

                                {% for i in time_pauses %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.start_pause }}</td>
                                    <td>{{ i.end_pause }}</td>
                                    {% if perms.app.delete_time_pause %}
                                    <td>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <button data-confirm="Você realmente deseja excluir?"
                                                name="pauses_delete" value="{{i.id}}"
                                                style="background-color: transparent; border: none; margin: 0;">
                                                <i style="font-size: 21px; color: red;" class="fa-solid fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% empty %}
                                    <tr><td colspan="10" style="text-align:center;">NÃO HÁ NENHUMA PAUSAS.</td></tr>
                                {% endfor %}
                            </table>
                        </section>
                    </div>
                </div>
                {% else %}
                <section class="alert-page">
                    <div class="alert-img">
                    <i class="fa-solid fa-circle-exclamation"></i> 
                    </div>
                    <div class="alert-text">
                        <p>VOCÊ NÃO TEM PERMISSÃO PARA VIZUALIZAR ESSE CAMPO.</p>
                    </div>
                </section>
                {% endif %}
            </div>
            {% endif %}

            {% if active_tab == 'penalidades' %}
            <div class="content-penalidades item-content">
                {% if perms.app.view_penalties %}
                <div class="accordion">
                    <div class="accordion-header " onclick="minhaFuncao('accordion-header-3','accordion-content-3')" id="accordion-header-3">
                        <p>Penalidades {{team_match_a.team.name}}</p><i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="accordion-content" id="accordion-content-3">
                        <section class="all-table" style="width: 100%; max-width: none; margin-top: 15px;">
                            <table id="search-table" style="width: 100%;">
                                <tr class="hidden">
                                    <th>ID</th>
                                    <th>NOME</th>
                                    <th>TIPO</th>
                                    <th>HORA</th>
                                    {% if perms.app.delete_penalties %}
                                    <th>DELETAR</th>
                                    {% endif %}
                                </tr>

                                {% for i in penalties_a %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.player.name }}</td>
                                    <td>{{ i.get_type_penalties_display }}</td>
                                    <td>{{ i.time }}</td>
                                    {% if perms.app.delete_penalties %}
                                    <td>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <button data-confirm="Você realmente deseja excluir?"
                                                name="penalties_delete" value="{{i.id}}"
                                                style="background-color: transparent; border: none; margin: 0;">
                                                <i style="font-size: 21px; color: red;" class="fa-solid fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% empty %}
                                    <tr><td colspan="10" style="text-align:center;">NÃO HÁ NENHUMA PENALIDADE.</td></tr>
                                {% endfor %}
                            </table>
                        </section>
                    </div>
                </div>
                <br>
                <div class="accordion">
                    <div class="accordion-header " onclick="minhaFuncao('accordion-header-3-1','accordion-content-3-1')" id="accordion-header-3-1">
                        <p>Penalidades {{team_match_b.team.name}}</p><i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="accordion-content" id="accordion-content-3-1">
                        <section class="all-table" style="width: 100%; max-width: none; margin-top: 15px;">
                            <table id="search-table" style="width: 100%;">
                                <tr class="hidden">
                                    <th>ID</th>
                                    <th>NOME</th>
                                    <th>TIPO</th>
                                    <th>HORA</th>
                                    {% if perms.app.delete_penalties %}
                                    <th>DELETAR</th>
                                    {% endif %}
                                </tr>

                                {% for i in penalties_b %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.player.name }}</td>
                                    <td>{{ i.get_type_penalties_display }}</td>
                                    <td>{{ i.time }}</td>
                                    {% if perms.app.delete_penalties %}
                                    <td>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <button data-confirm="Você realmente deseja excluir?"
                                                name="penalties_delete" value="{{i.id}}"
                                                style="background-color: transparent; border: none; margin: 0;">
                                                <i style="font-size: 21px; color: red;" class="fa-solid fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% empty %}
                                    <tr><td colspan="10" style="text-align:center;">NÃO HÁ NENHUMA PENALIDADE.</td></tr>
                                {% endfor %}
                            </table>
                        </section>
                    </div>
                </div>
                {% else %}
                <section class="alert-page">
                    <div class="alert-img">
                    <i class="fa-solid fa-circle-exclamation"></i> 
                    </div>
                    <div class="alert-text">
                        <p>VOCÊ NÃO TEM PERMISSÃO PARA VIZUALIZAR ESSE CAMPO.</p>
                    </div>
                </section>
                {% endif %}
            </div>
            {% endif %}

            {% if active_tab == 'pontuacao' %}
            <div class="content-pontuacao item-content">
                {% if perms.app.view_point %}
                <div class="accordion">
                    <div class="accordion-header" onclick="minhaFuncao('accordion-header-4','accordion-content-4')" id="accordion-header-4">
                        <p>Pontuação {{team_match_a.team.name}}</p><i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="accordion-content" id="accordion-content-4">
                        <section class="all-table" style="width: 100%; max-width: none; margin-top: 15px;">
                            <table id="search-table" style="width: 100%;">
                                <tr class="hidden">
                                    <th>ID</th>
                                    <th>NOME</th>
                                    <th>TIPO</th>
                                    <th>HORA</th>
                                    {% if perms.app.delete_point %}
                                    <th>DELETAR</th>
                                    {% endif %}
                                </tr>

                                {% for i in points_a %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.player.name|default:'---' }}</td>
                                    <td>{{ i.get_point_types_display }}</td>
                                    <td>{{ i.time }}</td>
                                    {% if perms.app.delete_point %}
                                    <td>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <button data-confirm="Você realmente deseja excluir?"
                                                name="point_delete" value="{{i.id}}"
                                                style="background-color: transparent; border: none; margin: 0;">
                                                <i style="font-size: 21px; color: red;" class="fa-solid fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% empty %}
                                    <tr><td colspan="10" style="text-align:center;">NÃO HÁ NENHUM PONTO.</td></tr>
                                {% endfor %}
                            </table>
                        </section>
                    </div>
                </div>
                <br>
                <div class="accordion">
                    <div class="accordion-header" onclick="minhaFuncao('accordion-header-4-1','accordion-content-4-1')" id="accordion-header-4-1">
                        <p>Pontuação {{team_match_b.team.name}}</p><i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="accordion-content" id="accordion-content-4-1">
                        <section class="all-table" style="width: 100%; max-width: none; margin-top: 15px;">
                            <table id="search-table" style="width: 100%;">
                                <tr class="hidden">
                                    <th>ID</th>
                                    <th>NOME</th>
                                    <th>TIPO</th>
                                    <th>HORA</th>
                                    {% if perms.app.delete_point %}
                                    <th>DELETAR</th>
                                    {% endif %}
                                </tr>

                                {% for i in points_b %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.player.name }}</td>
                                    <td>{{ i.get_point_types_display }}</td>
                                    <td>{{ i.time }}</td>
                                    {% if perms.app.delete_point %}
                                    <td>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <button data-confirm="Você realmente deseja excluir?"
                                                name="point_delete" value="{{i.id}}"
                                                style="background-color: transparent; border: none; margin: 0;">
                                                <i style="font-size: 21px; color: red;" class="fa-solid fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% empty %}
                                    <tr><td colspan="10" style="text-align:center;">NÃO HÁ NENHUM PONTO.</td></tr>
                                {% endfor %}
                            </table>
                        </section>
                    </div>
                </div>
                {% else %}
                <section class="alert-page">
                    <div class="alert-img">
                    <i class="fa-solid fa-circle-exclamation"></i> 
                    </div>
                    <div class="alert-text">
                        <p>VOCÊ NÃO TEM PERMISSÃO PARA VIZUALIZAR ESSE CAMPO.</p>
                    </div>
                </section>
                </div>
                {% endif %}
            {% endif %}

            {% if active_tab == 'assistencia' %}
            <div class="content-assistencia item-content">
                {% if perms.app.view_assistance %}
                <div class="accordion">
                    <div class="accordion-header " onclick="minhaFuncao('accordion-header-3-1','accordion-content-3-1')" id="accordion-header-3-1">
                        <p>Assistências</p><i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="accordion-content" id="accordion-content-3-1">
                        <section class="all-table" style="width: 100%; max-width: none; margin-top: 15px;">
                            <table id="search-table" style="width: 100%;">
                                <tr class="hidden">
                                    <th>ID</th>
                                    <th>NOME</th>
                                    <th>PONTO</th>
                                    {% if perms.app.delete_assistance %}
                                    <th>DELETAR</th>
                                    {% endif %}
                                </tr>

                                {% for i in assistance %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.player.name }}</td>
                                    <td>{{ i.assis_to }}</td>
                                    {% if perms.app.delete_assistance %}
                                    <td>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <button data-confirm="Você realmente deseja excluir?"
                                                name="assistance_delete" value="{{i.id}}"
                                                style="background-color: transparent; border: none; margin: 0;">
                                                <i style="font-size: 21px; color: red;" class="fa-solid fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% empty %}
                                    <tr><td colspan="10" style="text-align:center;">NÃO HÁ NENHUMA ASSISTÊNCIA.</td></tr>
                                {% endfor %}
                            </table>
                        </section>
                    </div>
                </div>
                {% else %}
                <section class="alert-page">
                    <div class="alert-img">
                    <i class="fa-solid fa-circle-exclamation"></i> 
                    </div>
                    <div class="alert-text">
                        <p>VOCÊ NÃO TEM PERMISSÃO PARA VIZUALIZAR ESSE CAMPO.</p>
                    </div>
                </section>
                {% endif %}
            </div>
            {% endif %}

            {% if active_tab == 'atletas' %}
            <div class="content-atletas item-content">
                {% if perms.app.view_player and perms.app.view_player_team_sport %}
                <div class="accordion">
                    <div class="accordion-header " onclick="minhaFuncao('accordion-header-7','accordion-content-7')" id="accordion-header-7">
                        <p>Atletas {{team_match_a.team.name}}</p><i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="accordion-content" id="accordion-content-7">
                        <section class="all-table" style="width: 100%; max-width: none; margin-top: 15px;">
                            <table id="search-table" style="width: 100%;">
                                <tr class="hidden">
                                    <th>ID</th>
                                    <th>NOME</th>
                                    <th>TURMA</th>
                                </tr>

                                {% for i in player_a %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.player.name }}</td>
                                    <td>{{ i.player.classroom }}</td>
                                </tr>
                                {% empty %}
                                    <tr><td colspan="10" style="text-align:center;">NÃO HÁ NENHUM ATLETA CADASTRADO NESSE TIME.</td></tr>
                                {% endfor %}
                            </table>
                        </section>
                    </div>
                </div>
                <br>
                <div class="accordion">
                    <div class="accordion-header " onclick="minhaFuncao('accordion-header-7-1','accordion-content-7-1')" id="accordion-header-7-1">
                        <p>Atletas {{team_match_b.team.name}}</p><i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="accordion-content" id="accordion-content-7-1">
                        <section class="all-table" style="width: 100%; max-width: none; margin-top: 15px;">
                            <table id="search-table" style="width: 100%;">
                                <tr class="hidden">
                                    <th>ID</th>
                                    <th>NOME</th>
                                    <th>TURMA</th>
                                </tr>

                                {% for i in player_b %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.player.name }}</td>
                                    <td>{{ i.player.classroom }}</td>
                                </tr>
                                {% empty %}
                                    <tr><td colspan="10" style="text-align:center;">NÃO HÁ NENHUM ATLETA CADASTRADO NESSE TIME.</td></tr>
                                {% endfor %}
                            </table>
                        </section>
                    </div>
                </div>
                {% else %}
                <section class="alert-page">
                    <div class="alert-img">
                    <i class="fa-solid fa-circle-exclamation"></i> 
                    </div>
                    <div class="alert-text">
                        <p>VOCÊ NÃO TEM PERMISSÃO PARA VIZUALIZAR ESSE CAMPO.</p>
                    </div>
                </section>
                </div>
                {% endif %}
            {% endif %}
            {% if active_tab == 'arbitros' %}
            <div class="content-tempo item-content">
                {% if perms.app.view_match %}
                <div class="accordion">
                    <div class="accordion-header " onclick="minhaFuncao('accordion-header-8','accordion-content-8')" id="accordion-header-8">
                        <p>Árbitros</p><i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="accordion-content" id="accordion-content-8">
                        <section class="all-table" style="width: 100%; max-width: none; margin-top: 15px;">
                            <table id="search-table" style="width: 100%;">
                                <tr class="hidden">
                                    <th>ID</th>
                                    <th>NOME</th>
                                    <th>FUNÇÃO</th>
                                    {% if perms.app.delete_match_referee %}
                                    <th>DELETAR</th>
                                    {% endif %}
                                </tr>

                                {% for i in match_referee %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.referee.name }}</td>
                                    <td>{{ i.get_role_display }}</td>
                                    {% if perms.app.delete_match_referee %}
                                    <td>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <button data-confirm="Você realmente deseja excluir?"
                                                name="referee_delete" value="{{i.id}}"
                                                style="background-color: transparent; border: none; margin: 0;">
                                                <i style="font-size: 21px; color: red;" class="fa-solid fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% empty %}
                                    <tr><td colspan="10" style="text-align:center;">NÃO HÁ NENHUMA PAUSAS.</td></tr>
                                {% endfor %}
                            </table>
                        </section>
                    </div>
                </div>
                {% else %}
                <section class="alert-page">
                    <div class="alert-img">
                    <i class="fa-solid fa-circle-exclamation"></i> 
                    </div>
                    <div class="alert-text">
                        <p>VOCÊ NÃO TEM PERMISSÃO PARA VIZUALIZAR ESSE CAMPO.</p>
                    </div>
                </section>
                {% endif %}
            </div>
            {% endif %}
            {% if active_tab == 'gerais' %}
            <div class="content-tempo item-content">
                {% if perms.app.view_match and perms.app.change_match %}
                <div class="accordion">
                    <div class="accordion-header accordion-header-show" onclick="minhaFuncao('accordion-header-9','accordion-content-9')" id="accordion-header-9">
                        <p>Gerais</p><i class="fa-solid fa-angle-down"></i>
                    </div>
                    <form method="post" class="accordion-content accordion-show" id="accordion-content-9" style="flex-direction: column; padding-inline: 25px;">{% csrf_token %}
                        <label><strong>Esporte:</strong></label>
                        <select name="sport" id="">
                            {% for i in sports %}
                            <option value="{{i.sport}}" {% if match.sport == i.sport %} selected {% endif %}>{{i.get_sport_display}}</option>
                            {% endfor %}
                        </select>
                        <label><strong>Status</strong></label>
                        <select name="status" id="">
                            {% for i, j in status %}
                            <option value="{{i}}" {% if match.status == i %} selected {% endif %}>{{j}}</option>
                            {% endfor %}
                        </select>
                        <label><strong>Detalhes:</strong></label>
                        <select name="detailed" id="">
                            {% for i, j in detailed %}
                            <option value="{{i}}" {% if match.detailed == i %} selected {% endif %}>{{j}}</option>
                            {% endfor %}
                        </select>
                        <label><strong>MVP (atleta):</strong></label>
                        <select name="mvp" id="">
                            <option value="" {% if not match.mvp_player_player.id %} selected {% endif %}>Selecione o atleta mvp</option>
                            {% for i in players_match %}
                            <option value="{{i.player.id}}" {% if match.mvp_player_player.id == i.player.id %} selected {% endif %}>{{i.player.name}} ({{i.team_match.team.name}})</option>
                            {% endfor %}
                        </select>
                        <label><strong>Vencedor (time):</strong></label>
                        <select name="winner" id="">
                            <option value="" {% if not match.Winner_team.id %} selected {% endif %}>Selecione o time vencedor</option>
                            {% for i in teams_match %}
                            <option value="{{i.team.id}}" {% if match.Winner_team.id == i.team.id %} selected {% endif %}>{{i.team.name}}</option>
                            {% empty %}
                            {% endfor %}
                        </select>
                        {% if volley_matchs %}
                        <label><strong>Volei:</strong></label>
                        <select name="volley_match" id="">
                            {% for i in sports %}
                            <option value="{{i.sport}}" {% if match.sport == i.sport %} selected {% endif %}>{{i.get_sport_display}}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                        <label><strong>Sexo</strong></label>
                        <select name="sexo" id="">
                            {% for i, j in sexos %}
                            <option value="{{i}}" {% if match.sexo == i %} selected {% endif %}>{{j}}</option>
                            {% endfor %}
                        </select>
                        <label><strong>Grupo/Fase:</strong></label>
                        <select name="group_phase" id="">
                            {% for i in group_phases %}
                            <option value="{{i.id}}" {% if match.group_phase.id == i.id %} selected {% endif %}>{{i}}</option>
                            {% endfor %}
                        </select>
                        <label><strong>Horário programado:</strong></label>
                        <input type="datetime-local" name="time_match" value="{{ match.time_match|date:'Y-m-d\\TH:i' }}">
                        <label><strong>Horário início:</strong></label>
                        <input type="time" name="time_start" value="{{ match.time_start|time:'H:i' }}">
                        <label><strong>Horário fim:</strong></label>
                        <input type="time" name="time_end" value="{{ match.time_end|time:'H:i' }}">
                        <label><strong>Acréscimo:</strong></label>
                        <input type="time" name="add" value="{{ match.add|time:'H:i' }}">
                        <label><strong>Local:</strong></label>
                        <input type="text" name="location" {% if match.location %} value="{{match.location}}" {% else %} placeholder="Local" {% endif %}>
                        <label><strong>Observações:</strong></label>
                        <textarea name="observations" rows="4" maxlength="600">{% if match.observations %}{{match.observations}}{% else %}Local{% endif %}</textarea>
                        <br>
                        <button class="button-match-settings" style="background-color: #0066ff; color: white;" type="submit">Salvar alterações</button>
                    </form>
                </div>
                {% else %}
                <section class="alert-page">
                    <div class="alert-img">
                    <i class="fa-solid fa-circle-exclamation"></i> 
                    </div>
                    <div class="alert-text">
                        <p>VOCÊ NÃO TEM PERMISSÃO PARA VIZUALIZAR ESSE CAMPO.</p>
                    </div>
                </section>
                {% endif %}
            </div>
            {% endif %}

            {% endwith %}
        </div>
    </div>
</div>

<style>


</style>

<script>
    
function minhaFuncao(contenth, contentd) {
    const accordionh = document.getElementById(contenth)
    const accordiond = document.getElementById(contentd)
    accordionh.classList.toggle('accordion-header-show');
    accordiond.classList.toggle('accordion-show');
}

</script>

{% endblock content %}